@import "../../styles/variables";

.container {
  max-width: 40rem;
  margin: auto;
  padding: 1.5rem;
  background: $cl-orange;
  color: $cl-white;
  border-radius: $default-border-radius;
  text-align: center;
  box-shadow: $sd-base-sm;
  font-family: "Merlod Norme";
  font-size: 2.5rem;

  @media (max-width: $ss-mobile) {
    font-size: 1.75rem;
    margin: 0.5em;
  }
}
