@import "../../styles/variables";

.container {
  width: 100%;
  height: 2em;
  margin: auto;
  position: relative;
}

.input {
  width: 100%;
  height: 100%;
  border-radius: $default-border-radius;

  input {
    width: 100%;
    height: 100%;
    padding: 0 1em;
    color: $cl-black;
    border-radius: $default-border-radius;
    border: solid 1px $cl-black-10;
    transition: outline 0.5s $eg-out-cubic;
    outline: solid 1px transparent;
    outline-offset: -3px;
  }

  &:focus {
    outline: solid 1px $cl-black-50;
  }

  .arrowbutton {
    position: absolute;
    top: 0;
    right: 0;
    width: 2em;
    height: 100%;
    border: solid 1px transparent;
    color: $cl-orange;
    cursor: pointer;
    transition: background 0.75s $eg-out-cubic, box-shadow 1.5s $eg-out-cubic;

    &:hover {
      background: $cl-orange;
      color: $cl-white;
      box-shadow: $sd-base-md;
    }

    .arrow {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border-left: 0.5em solid transparent;
      border-right: 0.5em solid transparent;
      border-top: 0.5em solid $cl-black;
    }
  }
}

.results {
  position: absolute;
  top: 2.5em;
  border-radius: $default-border-radius;
  background: $cl-black-50;
  box-shadow: $sd-base-md;
  backdrop-filter: blur(0.5em);
  z-index: 5;
  overflow: hidden;
}

.result {
  width: 100%;
  padding: 0.2em 0.5em;
  text-shadow: $sd-hard-black-md;
  cursor: pointer;

  &.disabled {
    cursor: default;
  }

  &:hover:not(.disabled) {
    background-color: $cl-black;
  }

  &:not(:last-child) {
    border-bottom: solid 1px $cl-white-50;
  }
}
